.container{
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-areas: "header header header header nav nav"
                         "pageTitle pageTitle pageTitle pageTitle pageTitle pageTitle"
                         "main main main main main main"
                         "footer footer footer footer footer footer";
}

.header {
    grid-area: header;
    background: #fc9003;
    padding: 20px;
    position: sticky;
    top: 0;
    font-size: 60px;
}

.nav{
    grid-area: nav;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: stretch;
    background: #ffbb4d;
    position: sticky;
    top: 0;
}

.main{
    grid-area: main;
    margin: 0px 50px 0px 50px;
    padding: 20px;
}

.footer{
    grid-area: footer;
    background: #fc9003;
}

aside{
    float: left;
    font:  30px sans-serif;
    text-align: center;
    width: 100px;
    position: sticky;
    top: 150px;
}

h1{
    font-family: sans-serif;
}

h2{
    text-align: center;
    padding: 30px;
    font-size: 35px;
}

h3{
    font-size: 30px;
}

input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}

.pageTitle{
    grid-area: pageTitle;
    background: #e8e8e8;
    padding: 10px;
    font-family: sans-serif;
    font-size: 30px;
    padding-left: 50px;
    position: sticky;
    top: 100px;
}

.pageText{
    font-family: sans-serif;
    font-size: 25px;
}

.form{
    width: 600px;
    margin: auto;
    
}

.formPart{
    padding: 10px 20% 200px 20%;
    background: #ffefd1;
}

button{
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin: auto;
    margin-top: 40px;
    overflow: scroll;
}

td{
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

a:hover{
    color: yellow;
}

.anchor {
    position: relative;
    top: -220px;
    visibility: hidden;
}

.leftWrap{
    float: left;
    margin: 0px 100px 0px 60px;
}

iframe{
    text-align: auto;
    width: 800px;
    height: 600px;
}


@media only screen and (max-width: 426px) {
    .container{
        display: grid;
        grid-template-columns: auto auto auto auto 50px 50px;
        grid-template-rows: 100px 50px 1fr 100px;
        grid-template-areas: "header header header header nav nav"
                             "pageTitle pageTitle pageTitle pageTitle pageTitle pageTitle"
                             "main main main main main main"
                             "footer footer footer footer footer footer";
    }
    aside{
        visibility: hidden;
    }
    .main{
        margin: 0px;
        width: 426px;
    }
    .header{
        font-size: 30px;
    }
    .pageTitle{
        font-size: 20px;
    }
    table{
        margin: 0px;
        margin-top: 40px;
        overflow: scroll;
        font-size: 10px;
    }
    .form{
        width: 400px;
    }
}